@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090B;
  --fill: #020817;
  --stroke: #1E293B;
  --heading: #EDEDED;
  --text: #94A3B8;
  --btn1: #1B1DCD;
  --btn2: #ACACAC;
  --radius: 0.5rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}